#checkout {

  .modal{
    position: absolute;
    top: 50px;
    right: 100px;
    background: $red;
    color: #fff;
    padding: 1rem 1.5rem  1rem 1.5rem;
    border-left: 8px solid darken($red, 10);
    transform: scale(.5);
    transition: all 0.5s ease-out;

    a{
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }

    a:hover{
      color: darken($red, 10);
    }

    &.hide{
      transform: scale(0);
      visibility: hidden;
    }

    &.show{
      transform: scale(1);
    }
  
  }
  .c-wrapper {
    padding: 2rem 5rem;
    display: flex;
    flex-flow: column;

    .checkout-title {
      align-self: center;
      font-size: 4rem;
      font-family: 'Dancing Script';
      color: $primary_dark;
    }

    .btns {
      align-self: center;
      margin: 10px 0 2rem 0;

      .btn-print {
        background: $primary;
        padding: 8px 10px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
      }

      .btn-home {
        background: $primary_dark;
        padding: 8px 10px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .btn-print:hover {
      box-shadow: 0 1px 10px rgba(black, 0.5);
    }

    .btn-home:hover {
      box-shadow: 0 1px 10px rgba(black, 0.5);
    }

    .components {
      display: flex;
      flex-wrap: wrap;
      .reciept-bg {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        .reciept {
          width: 60%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          box-shadow: 0 1px 10px rgba(black, 0.5);
          border-bottom: 5px solid $primary_dark;
          .reciept-info {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 1.5rem;
            .r-title {
              font-family: 'Dancing Script';
              font-size: 2.5rem;
              color: $primary;
            }
          }
          .user-info {
            display: grid;
            grid-template-columns: 1fr 1fr;

            h3 {
              margin-bottom: 5px;
            }

            .user-value {
              margin-bottom: 3rem;
              .price {
                color: #fff;
                background: $primary;
                padding: 0 5px;
              }

              .code {
                color: #fff;
                background: $primary;
                padding: 2px 5px;
              }

              .u-status {
                color: goldenrod;
              }
            }

            .t-amount {
              color: $primary_dark;
            }
          }
        }
      }

      .no-result{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;

        h1{
          margin-bottom: 1rem;
        }
        .information {
          width: 20%;
          height: 200px;
          width: 300px;
          box-shadow: 0 1px 15px rgba(black, 0.5);
          border-top: 8px solid $primary;
          padding: 1.5rem;
          text-align: center;
  
          label {
            font-weight: 600;
            color: #222;
          }
  
          input {
            background: #fff;
            border: 2px solid $primary;
            color: black;
            border-radius: 3px;
            padding: 5px;
            margin: 15px 0;
          }
  
          input:focus {
            border: 2px solid $green;
          }
  
          .btn-green {
            color: #fff;
            background: $green;
            padding: 5px 10px;
            border: 3px solid $green;
            cursor: pointer;
            height: 35px;
            width: 100px;
          }
  
          .btn-green:hover {
            background: #fff;
            border: 3px solid $green;
            color: $green;
          }
  
          
  
          margin-bottom: 3.5rem;
  
          &.--settings {
            height: 100px;
            border: none;
          }
        }
      }


      .information {
        width: 20%;
        height: 200px;
        width: 300px;
        box-shadow: 0 1px 15px rgba(black, 0.5);
        border-top: 8px solid $primary;
        padding: 1.5rem;
        text-align: center;

        label {
          font-weight: 600;
          color: #222;
        }

        input {
          background: #fff;
          border: 2px solid $primary;
          color: black;
          border-radius: 3px;
          padding: 5px;
          margin: 15px 0;
        }

        input:focus {
          border: 2px solid $green;
        }

        .btn-green {
          color: #fff;
          background: $green;
          padding: 5px 10px;
          border: 3px solid $green;
          cursor: pointer;
          height: 35px;
          width: 100px;
        }

        .btn-green:hover {
          background: #fff;
          border: 3px solid $green;
          color: $green;
        }

        .btn-blue {
          color: #fff;
          background: $blue;
          padding: 5px 10px;
          border: 3px solid $blue;
          cursor: pointer;
          height: 35px;
          width: 100px;
        }

        .btn-blue:hover {
          background: #fff;
          border: 3px solid $blue;
          color: $blue;
        }

        .btn-red {
          color: #fff;
          background: $red;
          padding: 5px 10px;
          border: 3px solid $red;
          cursor: pointer;
          height: 35px;
          width: 100px;
          font-size: .9rem;

          &.-link{
            padding: 6.5px 10px;
          }
        }

        .btn-red:hover {
          background: #fff;
          border: 3px solid $red;
          color: $red;
        }

        margin-bottom: 3.5rem;

        &.--settings {
          height: 100px;
          border: none;
        }
      }
     

      
    }
  }
}