#user_info {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    background: #fff;
    height: auto;
    width: 900px;
    box-shadow: 0 1px 15px rgba(black, 0.5);
    border-bottom: 10px solid $primary_dark;
    display: flex;
    flex-flow: column;
    .user-title {
      align-self: center;
      color: $primary_dark;
      font-size: 4rem;
      margin-bottom: 0.5rem;
      font-family: 'Dancing Script';
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      label {
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 15px 0 3px 0;
      }

      input {
        height: 30px;
        font-size: 15px;
        border: none;
        border-bottom: 3px solid $primary_dark;
        background: #fff;
        color: $primary_dark;
        cursor: pointer;
      }

      input[type='text']:focus {
        border: none;
        border-bottom: 3px solid $green;
        background: transparent;
      }

      input[type='text'],
      input[type='number'] {
        color: black;
        height: 30px;
        font-size: 20px;
        border: none;
        border-bottom: 3px solid $primary_dark;
        background: transparent;
      }

      .btns {
        width: 100%;
        margin: 2rem 0;
        .btn-sub {
          border: none;
          color: #fff;
          float: right;
          background: $primary_dark;
          padding: 10px 15px;
          cursor: pointer;
          text-transform: uppercase;
          border: 3px solid $primary_dark;
        }

        .btn-sub:hover {
          background: #fff;
          color: $primary_dark;
          border: 3px solid $primary_dark;
        }

        .btn-link {
          text-decoration: none;
          color: $primary_dark;

          i {
            margin-right: 3px;
          }
        }
      }

      .menu {
        .menu-title {
          color: $primary;
          font-size: 2rem;
          margin-top: 1rem;
          &.packlunch {
            display: inline;
            cursor: pointer;
            margin-right: 20px;
          }

          &.selected {
            background: $primary;
            color: #fff;
            padding: 0 5px;
          }
        }

        .dishes {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          grid-gap: 2rem;
          justify-items: center;
          margin-bottom: 2rem;
          .menu-list {
            height: 250px;
            width: 300px;
            cursor: pointer;
            box-shadow: 0 1px 15px rgba(black, 0.5);
            border-bottom: 8px solid $primary_dark;
            padding: 1.5rem;
            position: relative;
            .menu-name {
              margin-bottom: 5px;
              font-size: 2rem;
            }
            .menu-price {
              color: #fff;
              margin: 5px 0;
              font-size: 1.5rem;
              .amount {
                background: $primary;
                padding: 0 5px;
              }
            }
            .menu-dishes {
              font-size: 1.2rem;
            }
            .menu-dish {
              font-size: 1rem;
            }

            &.packlunch {
              height: 130px;

              .menu-name {
                font-size: 1.5rem;
              }
            }
          }

          .addons-list {
            width: 200px;
            margin-top: 1rem;
            padding: 1rem 2rem;
            color: #333;
            border-left: 5px solid $primary;
            box-shadow: 0 1px 15px rgba(black, 0.5);
            cursor: pointer;
            position: relative;
            text-align: center;
            .addon-title {
              font-size: 1.5rem;
            }

            .addon-price {
              color: #fff;
              margin-top: 3px;
              .amount {
                font-size: 1.2rem;
                background: $primary;
                padding: 0 5px;
              }
            }

            .menu-dishes {
              font-size: 1.2rem;
            }
            .menu-dish {
              font-size: 1rem;
            }

            &.-catering {
              text-align: left;
              .addon-price {
                margin: 3px 0;
              }
            }

            &.-wedding {
              height: 130px;
            }
          }

          &.hide {
            display: none;
          }
        }
      }
    }
  }
}
