// @import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  input:focus {
    outline: none !important;
  }
}

*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: calc(100vh - 80px);
}
@import 'variables';
@import 'home';
@import 'choose';
@import 'events';
@import 'user_info';
@import 'checkout';
@import 'login';
@import 'signup';
@import 'print';
@import 'footer';
