@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: calc(100vh - 80px);
}
@import 'variables';
@import 'home';
@import 'choose';
@import 'events';
@import 'footer';
